:root {
  --page-width: 1044px;
  --page-padding: 0;
  --navbar-color: #CDE3F8;
}

@media (prefers-color-scheme: dark){
  :root {
    --navbar-color: #646F7A;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

@font-face {
  font-family: avenir-next;
  src: url("../fonts/AvenirNextLTPro-Regular.otf");
}

/* These styles are in use between the portfolio and index pages, at present, and should be included in both */
.intro-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.welcome-message {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.welcome-message h1 {
  margin-bottom: 0;
}

/* TODO:These styles concern the navbar header. The entire component should be re-implemented */
.style-module--Header--mZOzg, .style-module--TopNavigationBar--V0syT {
  background-color: var(--navbar-color);
}

header.style-module--Header--mZOzg {
  z-index: 1;
}

header .style-module--Logo--xzURL {
  letter-spacing: 6px;
  position: fixed;
  width: 300px;
  top: 40px;
}

.style-module--Header--mZOzg {
  position: fixed;
}


@media only screen and (max-width: 1150px) {
  .style-module--Header--mZOzg {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 800px) {
  header .style-module--Logo--xzURL {
    display: none;
  }
}

/* End Header Styles */

/* This is all about killing the stupid footer */

footer .style-module--Logo--xzURL {
  display: none;
}

footer.style-module--Footer--pX98K,
footer .style-module--Logo--xzURL,
footer {
  display: none !important;
}

/* End Stupid Footer Styles */








