@media only screen and (max-width: 800px) {
  header .style-module--Logo--xzURL {
    display: none;
  }
}


/* Intro Container // Welcome Message */
.intro-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.welcome-message {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.welcome-message h1 {
  margin-bottom: 0;
}
/* End Section */

/* Top Level Layout Styles */
.big-head-layout {
  display: flex;
  max-width: var(--page-width);
  margin: 0 auto;
  margin-top: 100px;
}

@media only screen and (max-width: 1150px) {
  .big-head-layout {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .big-head-layout {
    display: flex;
    flex-direction: column;
  }
}


/* Layout Font Styles */

.big-head-layout h1 {
  font-size: 48px;
  line-height: 90px;
}

.big-head-layout p {
  font-size: 20px;
  font-family: avenir-next, sans-serif;
  font-weight: 100;
  letter-spacing: 1.5px;
}

/* Styles for the big fucking head off to the left */
.big-head-layout .left {
  position: fixed;
  z-index: 2;
  margin-top: 100px;
}

.big-head-layout .left .style-module--ContentWrapper {
  font-size: 2rem;
}


.big-head-layout .left img {
  max-width: 414px;
  border-radius: 414px;
  filter: linear-gradient(180deg, rgba(0, 0, 0, 0.67) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  left: -80px;
  top: -300px;
}


@media (prefers-color-scheme:dark) {
 .big-head-layout .left:after {
  background:linear-gradient(180deg,rgba(0,0,0,.67),transparent);
  border-radius:414px;
  content:"";
  height:552px;
  left:-80px;
  position:absolute;
  top:-300px;
  width:414px
  }
}

.big-head-layout .left a.homepage-link {
 color:var(--primary-color);
 font-weight:900;
 letter-spacing:6px;
 position:fixed;
 top:38px;
 z-index:100
}

@media only screen and (max-width: 840px) {
  .big-head-layout .left {
    min-width: 306px;
    width: 362px;
  }
  .big-head-layout .left img {
    width: 362px;
  }
}
@media (prefers-color-scheme: dark) and (max-width: 840px) {
  .big-head-layout .left:after {
    width: 362px;
  }
}

@media only screen and (max-width: 359px) {

  div.left img {
    max-width: 324px;
  }

  .big-head-layout .left .style-module--ContentWrapper {
    font-size: 1.5rem !important;
  }
}
@media only screen and (max-width: 800px) {
  .big-head-layout .left {
    position: absolute;
  }
}
  /* Big Head Layout goes Right Here */

.big-head-layout .right {
  margin-left: 500px;
  margin-top: 30px;
  position: relative;
}

@media only screen and (max-width: 1150px) {
  .big-head-layout .right {
    margin-left: 400px;
    width: calc(100vw - 400px);
  }
}

@media only screen and (max-width: 1100px) {
  .big-head-layout .right {
    margin-left: 350px;
    width: calc(100vw - 350px);
  }

}
@media only screen and (max-width: 840px) {
  .big-head-layout .right {
    margin-left: 300px;
    width: calc(100vw - 300px);
  }
}


@media only screen and (max-width: 800px) {
  .big-head-layout .right {
    margin-left: 0px;
    margin-top: 400px;
    width: auto;
  }
}

@media only screen and (max-width: 410px) {
  .big-head-layout .right {
    margin-top: 300px;
  }
}

