.homepage-socials {
  display: flex;
  width: 255px;
  justify-content: space-around;
}
.welcome-message {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.intro-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.homepage-text {
  margin-top: 60px;
}

@media (prefers-color-scheme: dark) {
  .social-icon {
    fill: #fafafa;
  }
}

.welcome-message h1 {
 margin-bottom:0;
}
