/* Social Icon Styles */
.homepage-socials {
  display: flex;
  width: 255px;
  justify-content: space-around;
}
.homepage-socials svg, .homepage-socials path {
  fill: var(--primary-color);
}


.homepage-text {
  margin-top: 60px;
}

@media only screen and (max-width: 650px) {
  .homepage-text {
    margin-top: 150px;
  }
  .homepage-socials {
    width: 350px;
  }
}

