@import "~react-image-gallery/styles/css/image-gallery.css";


.portfolio-year-filter {
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-top: 6px;
}

.portfolio-year-filter span {
  cursor: pointer;
  font-size: 1.2rem;
}

.portfolio-year-filter span.current-year {
  transform: scale(1.4);
}

.intro-container {
  width: 100%;
}

