.wide-welcome {
  max-width: 1044px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 125px;
}

.wide-welcome h1 {
  text-align: center;
  font-size: 3rem;
  line-height: 3rem;
}
